html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
}

@media only screen and (max-width: 768px) {
  .radio {
    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 13px;

    width: 326px;
    height: 44px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
  }

  .questionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    gap: 8px;

    position: absolute;
    width: 345px;
    height: 450px;
    left: 15px;
    right: 10px;
    top: 50px;
  }

  .question {
    box-sizing: border-box;

    font-family: "Nunito";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;

    color: #101011;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 1;
  }

  .optionContainer {
    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    margin-bottom: 15px;
    gap: 4px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    min-height: 435px;
    overflow-x: scroll;
  }

  .option {
    /* Frame 1010106138 */

    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 8px;
    gap: 8px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .actionButtonsContainer {
    /* Frame 1010106143 */

    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px;
    margin-bottom: 15px;
    gap: 147px;
    position: absolute;
    width: 342px;
    height: 46px;
    top: 680px;
  }
}

.gridItem {
  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 8px;

  position: absolute;
  width: 342px;
  height: 425px;
  right: 25px;
  bottom: 303px;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.grid-container {
  display: grid;
  gap: 100px;
  justify-content: center;
  align-items: center;
}

.grid-item {
  grid-column-start: 1;
  grid-column-end: 1;
}

.singleButton {
  height: 46px;
  width: 342px;
  left: 24px;
  top: 35.5px;
  border-radius: 8px;
  padding: 12px 16px 12px 16px;
}
